<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel='icon' href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Hi, I am <b>{{name}}</b> and this web app uses data from mapbox.com and darksky.net apis</p>
        <img class='portrait' src='/img/Prith.jpg'>
    </div>
    {{>footer}}
</body>
</html>