<!-- partials don't take complete html documents, it's just part of a webpage -->

<header>
    <h1>{{title}}</h1>

    <a href='/'>Weather</a>
    <a href='/about'>About</a>
    <a href='help'>Help</a h>
</header>